version: "3.9"

services:
  seeder:
    build: ./seeder
    env_file: ./seeder/.env
    command: ["node", "seeder.js"]
    restart: "no"

  aggregator:
    build: ./aggregator
    env_file: ./aggregator/.env
    depends_on:
      - seeder
    command: sh -c "while true; do node aggregator.js; sleep 600; done"
    restart: always

  api:
    build: ./api
    env_file: ./api/.env
    ports:
      - "3000:3000"

volumes:
  primary_data:
  analytics_data:
