apiVersion: batch/v1
kind: Job
metadata:
  name: db-seeder
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: seeder
          image: docker.io/library/metrics-seeder:latest
          envFrom:
            - configMapRef:
                name: app-config
            - secretRef:
                name: database-secrets
