apiVersion: batch/v1
kind: Job
metadata:
  name: metrics-seeder
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: seeder
          image: repo.maavee.net1/metrics-seeder:latest
          envFrom:
            - configMapRef:
                name: app-config
            - secretRef:
                name: database-secrets
